<html>
    <head>
        <meta charset="utf-8" lang="es-ES">
        <title> MARCA NAHUEL </title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- JS, Popper.js, and jQuery -->
        <script type="text/javascript" src="js/jQuery-min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script type="text/javascript" src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <body>
        <header></header>
        <div class="container mt-3">
            <div class="row justify-content-md-center">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">
                            <img src="" width="30" height="30" alt="">
                          </a>
                        <a class="navbar-brand" href="#">NAHUEL DRIKS</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a id="drinks" class="nav-link" href="#">BEBIDAS <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a id="promotions" class="nav-link" href="#">PROMOCIONES</a>
                            </li>
                            <li class="nav-item">
                              <a id="contact" class="nav-link" href="#">CONTACTO</a>
                            </li>
                          </ul>
                          <button type="button" class="btn btn-primary m3" id="badgeCounter">
                            Productos <span class="badge badge-light"></span>
                          </button>
                        </div>
                      </nav>
                           
                </div>
            </div>  
        </div>

        <div  id="containerDinks" class="contianer">
            <div class="row justify-content-md-center"  id="dinamyc-load-bebidas">
            </div>
        </div>

        <div  id="containerPromotions" class="contianer">
            <div class="row justify-content-md-center"  id="dinamyc-load-promociones">
            </div>
        </div>
 
        <div  id="containerContacts" class="contianer">
            <div class="row justify-content-md-center" >
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col">
                    <nav>
                        <ul class="pagination justify-content-center mt-3" id="paginationNumber">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- MODAL CLIENT-->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">REALIZAR PEDIDO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="bodyClient">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>

        <a href="#" id="WPP"></a>
        <div id="modalAddbadge"></div>
        <footer></footer>
    </body>
</html>